<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AyurvedicApp"
        tools:targetApi="31">
        <activity
            android:name=".FeverRemediesPg"
            android:exported="false" />
        <activity
            android:name=".SaffronPg"
            android:exported="false" />
        <activity
            android:name=".AyurvedaCurePg"
            android:exported="false" />
        <activity
            android:name=".HealthIssuesPg"
            android:exported="false" />
        <activity
            android:name=".SymptomsPg"
            android:exported="false" />
        <activity
            android:name=".YogaPg"
            android:exported="false" />
        <activity
            android:name=".RemediesPg"
            android:exported="false" />
        <activity
            android:name=".HerbsPg"
            android:exported="false" />
        <activity
            android:name=".KaphaPg"
            android:exported="false" />
        <activity
            android:name=".PittaPg"
            android:exported="false" />
        <activity
            android:name=".VattaPg"
            android:exported="false" />
        <activity
            android:name=".HomePg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RemedyDetailActivity">

        </activity>
    </application>

</manifest>